body {
    font-family: "Gill Sans Extrabold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    text-align: center;
    color: rgb(73, 72, 72);
    margin: auto;
    padding: 10px;
    line-height: 1.8;
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1.8;
  }
  h3{
    text-align: center;
  }
  #tribute {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  .p{
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 800px;
    display: block;
    height: auto;
    margin: 0 auto;
  }

  .image {
      padding: 7px;
      margin: auto;
      background-color: rgb(252, 255, 238);
     
  }

  ul {
    padding: auto;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.7;
    max-width: 500px;
  }
#info {
  font-size: 15px;
}

  li {
    margin: 0 auto 0 auto;
    max-width: 800px;
    max-height: 600px;
  }

  .last {
    font-size: 15px;
    text-align: left;
    margin: auto;
    font-style: italic;
    max-width: 600px;
  }
  h4{
    font-size: 15px;
    padding-top: 80px;
    margin: 0 auto 0 aut0;
    text-align: center;
  }